$primary-color: #1cda62;
$secondary-color: #000;
$text-color-brown: #3c3c3b;
$text-color-light: #fff;


* {
  margin: 0px;
  box-sizing: border-box;
  font-family: Helvetica;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: $secondary-color;
  overflow: hidden;

  button:focus,
  button:selected {
    outline: none;
  }

  .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-height: 100vh;

    .bg-image {
      position: absolute;
      top: 2rem;
      z-index: 0;
    }

    .logo {
      position: absolute;
      height: 2.5rem;
      top: 5rem;
      left: 8%;
    }

    .product-pane>.products {
      width: 80%;
      height: 60%;
      grid-column: 1 / 2;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-gap: 3rem;
      margin: auto auto;
      justify-items: center;
      align-items: center;
      transform: translateY(12rem);


      .item {
        width: 32rem;
        height: 17rem;
        background-color: $primary-color;
        // background-image: url('https://unsplash.com/photos/m3hn2Kn5Bns');
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        padding: 2rem 1rem 2rem 2rem;
        display: grid;
        grid-template-columns: 1.4fr 2fr;

        &-detail {
          margin-top: 0.7rem;

          &_name {
            font-weight: 600;
            font-size: 1.3rem;
          }

          &_description {
            margin-top: 0.4rem;
            margin-bottom: 1rem;
            grid-column: 2;
            font-size: 0.8em;
            line-height: 1.8em;
            color: $text-color-brown;
          }

          &_coins {
            height: 1rem;
          }

          &_price {
            font-weight: 600;
            font-size: 0.8rem;
            transform: translate(1.5rem, -1.4rem);
          }
        }

        &-image__frame {
          grid-column: 1;
          background-position: -5px -3px;
          background-size: 112%;
          height: 13rem;
          width: 10rem;
          box-shadow: 3px 3px 3px rgba($secondary-color, 0.2);
        }

        button {
          position: relative;
          left: 12rem;
          bottom: 2.5rem;
          background-color: $secondary-color;
          color: $text-color-light;
          font-weight: 600;
          max-height: 2.3rem;
          width: 8rem;
          padding: 10px 15px;
          border: none;
          border-radius: 30px;
        }
      }
    }

    .cart-pane {
      background-color: $primary-color;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2rem 60rem;
      grid-gap: 50px;
      grid-column: 2;
      height: 100vh;
      width: 100%;
      padding: 2rem;

      .cart-button {
        position: absolute;
        width: 23rem;
        padding: 1.2rem;
        text-align: center;
        font-weight: 600;
        color: $text-color-light;
        background-color: $secondary-color;
        border-radius: 30px;
        bottom: 5rem;
      }

      &-message {
        font-size: 1.5rem;
        color: $text-color-brown;
        transform: translate(8rem, 18rem);
      }

      .title {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      .total {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: 35rem;
        max-width: 36rem;
        bottom: 12rem;
        font-weight: 600;
        font-size: 1.3rem;
        align-content: left;

        &-title {
          color: $text-color-brown;
        }
      }

      .cart-item:not(:first-child) {
        border-top: 1px solid $secondary-color;
      }

      .cart-item {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        height: 8rem;
        padding-top: 2rem;

        &_image {
          height: 3.7rem;
          width: 3rem;
          background-size: 110%;
          background-position: -1px -1px;
          box-shadow: 2px 2px 2px rgba($secondary-color, 0.2);
        }

        &_name {
          font-weight: 600;
          font-size: 0.9rem;
          transform: translateY(0.2rem);
        }

        &_coins {
          height: 1rem;
          position: absolute;
          transform: translate(4.5rem, 1.8rem);
        }

        &_price {
          position: absolute;
          transform: translate(5.9rem, 1.7rem);
          font-weight: 600;
          font-size: 0.7rem;
        }

        .bin {
          grid-column: 3;
          width: 1.3rem;
          transform: translate(2rem, 1rem);
        }
      }
    }
  }
}

// header styles

.telephone {
  position: absolute;
  height: 1rem;
  top: 0.5rem;
  font-size: 0.7rem;
  color: $text-color-light;
  transform: translateX(8.5rem);
}

.flag {
  position: absolute;
  top: 0.5rem;
  height: 0.8rem;
  transform: translateX(17rem);
}

.header-text {
  font-size: 0.7rem;
  color: $text-color-light;
}

.slogan {
  position: absolute;
  top: 0.5rem;
  font-size: 0.7rem;
  color: $text-color-light;
  transform: translateX(18.5rem);
}

.tel-no {
  position: absolute;
  top: 0.5rem;
  transform: translateX(10rem);
}

// Checkout Styles

.checkout {
  background-color: $primary-color;
  height: 100vh;

  .logo {
    height: 2.5rem;
    position: absolute;
    top: 5rem;
    transform: translateX(9rem);
  }

  &-container {
    width: 60vw;
    height: 60vh;
    margin: 2.5rem auto;
  }

  &-totals {
    margin-top: 3rem;
    font-weight: 600;
    font-size: 1.5rem;

    span {
      color: $text-color-brown;
      margin-right: 2rem;
    }
  }

  &-items {
    margin-top: 3rem;
  }

  &-item {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    grid-template-rows: 1fr;
    width: 100%;
    max-height: 32rem;
    margin-top: 2rem;
    border-bottom: 1px solid $secondary-color;
    padding-top: 1rem;

    &_image {
      width: 3rem;
      height: 4rem;
      background-size: 114%;
      background-position: -2px, -2px;
      box-shadow: 3px 3px 3px rgba($secondary-color, 0.2);
    }

    &_name {
      font-weight: 600;
      font-size: 0.8rem;
      transform: translateY(0.5rem);
    }

    &_price {
      position: absolute;
      transform: translate(8rem, 2.0rem);
      font-weight: 600;
      font-size: 0.7rem;
    }

    &_coins {
      grid-column: 2;
      width: 1rem;
      transform: translateY(-2.0rem);
    }

    &_bin {
      grid-column: 3;
      grid-row: 1;
      width: 1.3rem;
      transform: translate(9rem, 1rem);
    }
  }

  header {
    width: 100vw;
    height: 10rem;
    background-color: $secondary-color;
  }

  button {
    background-color: $secondary-color;
    color: $text-color-light;
    font-weight: 600;
    max-height: 2.3rem;
    width: 8rem;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
  }
}